<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <a href="/">Home</a>
      <a id="logout" href="#">Logout</a>
      <a href="/createJob">Create Job</a>
      <div id="allJobs"></div>
      <div id="updateJob"></div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script src="../../controllers/userHome.js"></script>
</html>
